.rowone {
  background-color: #39474e;
  padding-top: 5px;
  padding-bottom: 5px;
}
.TIY {
  position: relative;
  top: 50%;
  transform: translateY(5%);
}
.get {
  text-align: center;
  color: white;
  font-family: 'PT Serif', serif;
  font-style: italic;
  background-color: #6fbbb7;
  border-radius: 3px;
  font-size: 16px;
  position: relative;
  top: 50%;
  transform: translateY(40%);
  width: 125px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.picbox {
  background-image: url("../images/amy.jpg");
  background-size: cover;
  background-position: center;
  height: 600px;
}
.mainheading {
  color: white;
  font-family: 'PT Serif', serif;
  font-weight: bold;
  font-size: 50px;
  padding-left: 225px;
  padding-top: 225px;
}
.typingtext {
  color: white;
  font-family: 'PT Serif', serif;
  font-weight: bold;
  padding-left: 225px;
}
.watch {
  color: white;
  font-family: 'PT Serif', serif;
  font-weight: bold;
  font-style: italic;
  padding-left: 225px;
  background-color: #6fbbb7;
}
.cologos {
  height: 80px;
}
.rowthree {
  background-color: #e3e7e9;
}

h4 {
  color: #727d84;
  font-family: 'PT Serif', serif;
  font-weight: bold;
  font-style: italic;
}
h5 {
  font-family: 'PT Serif', serif;
}
